/*
  Name: Nicholas Young
  Date: 04.15.2019
  This is the CSS file that provides the style and look of the SET! game.
*/

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

body,
button,
select {
  font-family: Helvetica, Verdana, sans-serif;
}

#menu-view {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12pt;
}

#menu-view article {
  background-color: #6f77ed;
  border: 5pt solid black;
  border-radius: 0.35em;
  color: white;
}

#menu-view h2 {
  text-decoration: underline;
  font-size: 16pt;
}

#start,
#menu-view select {
  background-color: white;
  border-color: black;
  border-width: 2pt;
}

#start {
  width: 100px;
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 20px;
}

.card {
  width: 220px;
  height: 95px;
  border: 0.35em solid black;
  border-radius: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card:hover {
  cursor: pointer;
}

.card img {
  height: 85%;
}

.hidden {
  display: none;
}

#game-view {
}

#details {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  font-size: 14pt;
}

#game {
  border-left: black solid 5pt;
  border-right: black solid 5pt;
  border-bottom: black solid 5pt;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#game .card {
  margin-top: 5px;
  margin-bottom: 5px;
}

#game p {
  text-align: center;
  font-size: 16pt;
}
